<div class="col-md-8 blog-main">


<h1>Editing Blog</h1>

<%= render 'form', blog: @blog %>
<div class="col-md-6"></div>
<%= link_to 'Destroy', @blog, class:"btn btn-outline-danger col-md-2", method: :delete, data: {confirm: "Are you sure"} if logged_in?(:site_admin)%>
<div class="col-md-6"></div>
<%= link_to 'Show', @blog, class:"ml-3" %> |
<%= link_to 'Back', blogs_path %>

</div>
