<div class="col-md-8 blog-main">

<div class="login">
 <div class="card">
  <div class="card-body">

     <h2 class="title_h2">New Blog</h2>

       <%= render 'form', blog: @blog %>

       <%= link_to 'Back', blogs_path %>
   </div>
</div>
</div>

</div>