<div class="col-sm-8 blog-main">

  <h1>Topics:</h1>
  <hr>
  
  <div class='topic-index row'>
  	<%= render @topics %>
  </div>
</br>
  <h5 class="mt-5"><%= link_to "Back for Blogs", blogs_path%></h5>
</div>
