<h1>Portfoilo Items</h1>

<% @portfolio_items.each do |valtozo_item| %>
  <p><%= valtozo_item.title %></p>
  <p><%= valtozo_item.subtitle %></p>
  <p><%= valtozo_item.body %></p>
  <%= image_tag valtozo_item.thumb_image if !valtozo_item.thumb_image.nil?%>
<% end %>