<header class="masthead mb-auto">
        <div class="inner">
          <h3 class="masthead-brand pt-1">Adam Nemeth's Site</h3>
          <nav class="nav nav-masthead justify-content-center">
          	<%= nav_helper 'nav-link pr-2 pl-2','span'%>
            <%= login_helper 'nav-link ml-3 text-primary' %>
          </nav>
        </div>
</header>