 <footer class="mastfoot mt-auto">
 	<div class="container">
        <h6 class="font-italic">Elsewhere:
             <a href="https://github.com/Winy81"><i class="fab fa-github"></i></a>
             <a href="https://developer.twitter.com/en.html"><i class="fab fa-twitter"></i></i></a>
             <a href="https://www.linkedin.com/in/adam-nemeth-b1a17aa7/"><i class="fab fa-linkedin"></i></a>
             <a href="http://winydesign.com"><i class="fas fa-file-alt"></i></a></h6>
      </div>
        <div class="inner">
          <p><%= copyright_generator %></p>
        </div>
 </footer>