 <header class="blog-header">
    <div class="nav-scroller py-2 lg-2">
        <nav class="nav d-flex justify-content-between mt-1">
          <%= nav_helper 'pr-2 text-muted','span'%>
          <%= login_helper "text-muted-h" %>         
        </nav>
      </div>
  </header>



