 <footer class="text-muted">
      <div class="container border border-left-0 border-bottom-0 border-right-0">
        <p class="float-right">
          <a href="#" class="float-middle">Back to top</a>
        </p>
      </div>
      <div class="container">
        <p class="">
        	<%= copyright_generator %>
        </p>
      </div>
 </footer>