<section class="jumbotron text-center bg-light border border-left-0 border-top-0 border-right-0">
        <div class="container ">
          <h1 class="jumbotron-heading text-secondary ">Portfolio Galery</h1>
          <p class="lead text-muted">Couple of example of my works. If you have any question please do not hesitate contatct with me or if you would like to see more, just go and explore the blog part of the site too...</p>
          <p>
          	<%= link_to "Blog",blogs_path, class:"btn btn-secondary" %>
            <%= link_to "Contact Me", contact_path, class:"btn btn-primary" %>
          </p>
        </div>
 </section>