   
 <footer class="text-muted">
      <div class="container border border-left-0 border-bottom-0 border-right-0">

        <p class="float-right mt-1">
          <a href="#" class="float-middle">Back to top</a>
        </p>
      </div>
      <div class="container">
        <h6 class="font-italic mt-2 pr-5">Elsewhere:
             <a href="https://github.com/Winy81"><i class="fab fa-github"></i></a>
             <a href="https://developer.twitter.com/en.html"><i class="fab fa-twitter"></i></a>
             <a href="https://www.linkedin.com/in/adam-nemeth-b1a17aa7/"><i class="fab fa-linkedin"></i></a>
             <a href="http://winydesign.com"><i class="fas fa-file-alt"></i></a></h6>
      </div>
      <div class="container">
        <p class="mt-5 text-center">
        	<%= copyright_generator %>
        </p>
      </div>
 </footer>