<h1>About Me</h1>
<p>I started to make websites around eight years ago, I think this made me in to what i am today, a classic coder. Everything you can see on this site is developed, designed and created by hand from scratch.</p>
