<div id="contact_content" style="background-image: url('/assets/envelope.png'); background-position: center; background-repeat: no-repeat; padding-bottom: 130px; padding-top: 130px;">
<h1>Would you like to work together?</h1>
<h3></h3>
<div class="link_for_mail">
<p><a href="mailto:nemeth.richo@gmail.com?subject=Protfolio-contact"><i class="far fa-envelope"></i></a></p>
</div>
<%-#<div class="col-md-6">-%>
	<%-#<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d150788.90158264118!2d-1.675815183750556!3d53.80592089081177!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48793e4ada64bd99%3A0x51adbafd0213dca9!2sLeeds!5e0!3m2!1shu!2suk!4v1539080956260" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>-%>
<%-#</div> -%> 

<%-#A teljes metodus lista az action view listban erheto el -%>
<%-#A number_to_phone metodusa a mogotte levo stringet convertalja telefon szam formatumma. -%>

<% if logged_in?(:site_admin) %>
<p><%= number_to_phone "111111111"%></p>
<% end %>
</div>

