<h1>Pages#contact</h1>
<p>Find me in app/views/pages/contact.html.erb</p>
<%-#A teljes metodus lista az action view listban erheto el -%>
<%-#A number_to_phone metodusa a mogotte levo stringet convertalja telefon szam formatumma. -%>
<p><%= number_to_phone "55555555" %></p>

